<div class="container2">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/live_stream?channel=UCkjzaLq_fSA_ZapkIsEWJ7A&autoplay=1" frameborder="0"></iframe>
	]
	<div class="container">
		<i style="background: rgb({{colors.[5].r}} ,{{colors.[5].g}}, {{colors.[5].b}})" class="button fa fa-angle-up up" id="up">  </i>
		<i style="background: rgb({{colors.[2].r}} ,{{colors.[2].g}}, {{colors.[2].b}})" class="button fa fa-angle-left left" id="left">  </i>
		<i style="background: rgb({{colors.[4].r}} ,{{colors.[4].g}}, {{colors.[4].b}})" class="button fa fa-angle-down down" id="down">  </i>
		<i style="background: rgb({{colors.[3].r}} ,{{colors.[3].g}}, {{colors.[3].b}})" class="button fa fa-angle-right right" id="right">  </i>
		<p style="background: rgb({{colors.[0].r}} ,{{colors.[0].g}}, {{colors.[0].b}})" class="button a" id="A">A</p>
		<p style="background: rgb({{colors.[1].r}} ,{{colors.[1].g}}, {{colors.[1].b}})" class="button b" id="B">B</p>
		<p style="background: rgb({{colors.[6].r}} ,{{colors.[6].g}}, {{colors.[6].b}})" class="button start" id="start">Start</p>
		<p style="background: rgb({{colors.[7].r}} ,{{colors.[7].g}}, {{colors.[7].b}})" class="button select" id="select">Select</p>
	</div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="script.js"></script>